/*
* custom_styles_profiles.css
* custom css for the profiles features on gig central
*
* CSS should conform to the standards in the theme. 
* (As of 2019/06/06, the theme used on the site is "Flatly" from bootswatch.)
* 
* Every effort should be made to maintain style consistency.
* In order to avoid discrepencies, you should NOT make rules by "eye-balling" approximate colors, 
* size, spacing, media querries, etc.
* Rather, consult the style guide available at:
* https://docs.google.com/document/d/19PxRlB8ITMTzURyw9CoRoStEzH7l2cnIPXP0MRPFNaI/edit
*
* Custom CSS should be used sparingly and with discretion.
* If you are creating new style rules, you should include comments which AT MINIMUM contain :
*		intended FILEPATHS and PAGES(URLs) where these styles are called
*		brief explanation of the reason for deviating from the theme
*
* If your custom styles differ from the google-doc guide, please explain why in the comments, and
* include a note on the google doc itself.
*/

/*
*	The following styles belong to the PROFILES feature which was tabled for being non-MVP,
*	to reintigrate these elements please add these styles back in the instructed location
*/

/* Insert into public/css/custom_styles.css */

input#userfile {
    height: auto;
}

/* Insert into public/css/custom_styles_welcome.css */

.profile-btn {
    position:absolute;
    top:78%;
    left:5%;
}

.profile-container {
    position:relative;
}

.profile-pics {
    border:1px solid black;
    opacity:.6;
    float:left;
    width:100%;
    height:100%;
    object-fit:cover;
}

.profile-ctnr-rm-pad {
    padding:0;
}
